<div class="layout-row md-padding">
  <div class="flex-gt-md-35"/>
  <div class="flex-grow flex-gt-md-30">
    <p>Loot Chest level : {{chestLevel}}</p>
    <p>Progression towards bigger chest : {{chestProgress}}</p>
  </div>
  <div class="flex-gt-md-35"/>
</div>
