{{app-topbar activeTool=activeTool}}

<div class="layout-row md-padding">
  <div class="flex-gt-md-15"/>
  <div class="flex-grow flex-gt-md-70">
    {{outlet}}
  </div>
  <div class="flex-gt-md-15"/>
</div>
